{% extends '/templates/layout.html.twig' %}

{% block content %}
    <div class="row align-self-center justify-content-center">
        <div class="col-3">
            <form class="col-12" action={{ path_for('auth.signin') }} method="POST">
                <fieldset class="form-group">
                      <legend class="col-form-legend text-center">Sign in</legend>
                        <div class="form-group">
                          <label for="">Pseudo</label>
                          <input type="text" class="form-control {{ errors.pseudo ? 'is-invalid' : '' }}" name="pseudo" id="pseudo" aria-describedby="helpId" placeholder="Michel, Jean, Jacques" value={{ old.pseudo }}>
                          {% if errors.pseudo %}
                            <span class="invalid-feedback">{{ errors.pseudo | first }}</span>
                          {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control {{ errors.password ? 'is-invalid' : '' }}" name="password" id="password">
                            {% if errors.password %}
                                <span class="invalid-feedback">{{ errors.password | first }}</span>
                            {% endif %}
                        </div>
                      <div class="form-group text-center">
                          <button type="submit" class="btn btn-primary">Envoyer</button>
                      </div>


                    </fieldset>
                    {{ csrf.field | raw }}
            </form>

        </div>
      </div>
    </div>       
{% endblock %}